.banner{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: var(--lightBlue);
    margin-top: 0;
    margin-right: 5vh;
    height: 10vh;
}
.mobileHome {
    display: none;
}
.logoBanner{
    padding-top: 0px;
    width : 9vh;
}
.logoBanner:hover{
    transform: scale(1.2);
}

.banner .logo{
    width : 6vh;
    margin-top: 0.5vh;
}
.mobile-menu-toggle {
    display: none;
}

.logoSocial{
    width : 5vh;
    height : 5vh;
    margin-top: 1vh;
    margin-right: 0.2vh;
}

.logoSocial:hover {
    transform: scale(1.3);
}

.nav-links {
    margin-right: 2vh;
  }
.nav-links ul {
    list-style: none; 
    display: flex;
    flex-direction: row;
}
.nav-links a {
    color: var(--blackBackground);
    font-size: 24px;
    font-weight: bold;
    text-decoration:none;
}
.nav-links a:hover{
    color:var(--whiteTittle);
    font-size: 28px;
}

.social-banner{
    display: flex;
}
.social-banner p {
    margin: 0;
}

.scroll-to-top-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer; 
    outline: none; 
  }

@media only screen and (max-width: 600px) {
    .banner {
        flex-direction: column;
        height: max-content;
        width: max-content;
    }

    .mobileHome {
        display: flex;
    }
    .logoBanner {
        display: none;
    }
    .social-banner {
        display: none;
    }

    .nav-links {
        display: none; 
    }

    .nav-linksopen {
        display: flex;
    }
    .nav-linksopen ul {
        list-style: none; 
    }

    .nav-linksopen a {
        color: var(--blackBackground);
        font-size: 16px;
        font-weight: bold;
        text-decoration:none;
    }

    .social-banneropen {
        display: flex;
        flex-direction: column;
    }

    .logoSocial{
        width : 4.5vh;
        height: 4.5vh;
        margin-top: 0.2vh;
    }

    .banner .logo{
        width : 5.1vh;
        height: 5.1vh;
        margin-top: 0.2vh;
        margin-left: -0.2vh;
    }

    .mobile-menu-toggle {
        width: 8vh;
        display: flex;
        background-color: transparent;
        border: none;
        padding: 5;
        cursor: pointer; 
        outline: none; 
    }
    
    .mobile-menu-toggle img {
        width: 5vh;
        padding-left: 1vh;
    }
}