:root {
    --whiteFontPrincipal: #AAAEB6;
    --whiteTittle: #D1D7E0;
    --blackBackground :#111315;
    --darkBlueBackground :#05058B;
    --ligthBlackBackground :#333739;
    --lightBlue : #2980B9;
  }