.job-item{
    background-color: var(--ligthBlackBackground);
    width: 35vh;
    margin-left: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;

}
.job-item h4 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20px;
    min-height: 2em; 
}
.job-item p {
    font-size: 18px;
}

.job-top {
    display: flex;
}
@media only screen and (max-width: 600px){
.job-item{
    width: 25vh;
    }
.job-top {
    display: flex;
    flex-direction: column;
}
}