.job-item{
    background-color: var(--ligthBlackBackground);
    width: 25vh;
    margin-left: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    width: 40vh;
}
.job-item h4 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20px;
    min-height: 2em; 
}
.job-item p {
    font-size: 18px;
}

.job-top {
    display: flex;
}