.linkButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--blackBackground);
    border-radius: 15px;
    padding: 2px;
}
.linkButton p {
    font-size: 12px;
}
.linkButton img {
    height: 25px;
}

.linkButton:hover{
    background-color: var(--darkBlueBackground);
    transform: scale(1.1);
}

@media only screen and (max-width: 600px){
    .linkButton {
        padding: 1px;
    }
    .linkButton img {
        height: 2.5vh;
    }
}