.portfolio-item{
    background-color: var(--ligthBlackBackground);
    margin-left: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    max-width: 510px;
}
.portfolio-item h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}
.screenshot{
    height: 300px;
    max-width: 500px;
}
