.portfolio-item{
    background-color: var(--ligthBlackBackground);
    margin-left: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    max-width: 52vh;
}
.portfolio-item h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}
.screenshot{
    height: 30vh;
    max-width: 50vh;
}

@media only screen and (max-width: 600px){
    .screenshot{
        height: 25vh;
        max-width: 40vh;
    }
}