.softskill-item{
    background-color: var(--ligthBlackBackground);
    width: 35vh;
    height: 40vh;
    margin-left: 5vh;
    margin-bottom: 5vh;
}
.softskill-item h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}
