.title {
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 15vh; 
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 1);
    background-image: url('../assets/backgroundTitle.jpg'); 
    background-size: cover;
    color: var(--whiteTittle);
  }

.title h1,
.title h2 {
  margin: 5px 0; /* Réduit l'espace entre les titres */
}